@use '../abstracts/variables' as *;

.header {
    margin: 0 auto;
    // width: 95vw;

    &__img {
        display: block;
        margin: 0 auto;
        padding: 10px;
        width: 55%;
        border-radius: 160px;
        @media (min-width: 768px) {
            width: 30%;
            @media (min-width: 1024px){
                width: 25%;
        }
        }
    }

    &__nav {
        background-color: $bg-nav;
        border-radius: 3px;
        height: 26px;
        padding: 1px;
    }

    &__liste {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 22px;
        @media (min-width: 768px) {
            gap: 90px;
        }
            
        }

    &__puce {
        text-decoration: none;
        font-family: $font-link;
        color: $color-link;
        &:hover {
            color: #e07a9e;
        }
    }
}