// ===============================
// mode clair
// ===============================
$font-link: 'Cormorant Garamond', sans-serif;
$bg-nav: var(--bg-nav);
$color-link: var(--color-link);
$color-hover: var(--color-hover);

// ==================================
// mode sombre
// ==================================
// $font-link: 'Montserrat', sans-serif;
$bg-nav: var(--bg-nav);
$color-link: var(--color-link);
$color-hover: var(--color-hover);

